*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Poppins", sans-serif; }

.header {
  background-image: url("../img/home.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
    display: flex;
    align-items: center;
    gap: 0.5rem; }
  .header__logo {
    height: 3.5rem;
    position: relative;
    bottom: 15px; }
  .header__logo-text {
    position: relative;
    bottom: 15px;
    color: #4ba586;
    font-weight: 500;
    font-size: 24px; }

.navbar {
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  color: #4ba586; }
  .navbar .nav-links {
    display: flex;
    gap: 1rem;
    margin-left: 5rem; }
    .navbar .nav-links ul {
      list-style: none;
      padding: 0;
      display: flex;
      gap: 50px; }
    .navbar .nav-links li {
      position: relative; }
    .navbar .nav-links a {
      color: #8e8e8e;
      text-decoration: none;
      font-size: 18px; }
      .navbar .nav-links a:hover {
        color: #4ba586; }
      .navbar .nav-links a:hover::after {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 5px;
        width: 5px;
        height: 5px;
        background-color: #4ba586;
        border-radius: 50%;
        opacity: 1; }
      .navbar .nav-links a::after {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 7px;
        width: 5px;
        height: 5px;
        background-color: #4ba586;
        border-radius: 50%;
        opacity: 0;
        transition: opacity 0.2s ease-in-out; }
  .navbar .nav-buttons {
    display: inline-flex;
    position: relative;
    bottom: 10px;
    right: 145px;
    gap: 1rem; }
    .navbar .nav-buttons .btn {
      padding: 0.5rem 1rem;
      font-size: 16px;
      line-height: 24px;
      color: #333;
      background-color: #fff;
      border: none;
      cursor: pointer;
      padding-top: 16px;
      padding-right: 48px;
      padding-bottom: 15px;
      padding-left: 48px; }
    .navbar .nav-buttons .sign {
      color: #4ba586;
      background-color: #fff; }
      .navbar .nav-buttons .sign:hover {
        background-color: #b1e9b19c; }
    .navbar .nav-buttons .log {
      background-color: #4ba586;
      color: #fff; }
      .navbar .nav-buttons .log:hover {
        background-color: #b1e9b19c; }
